@page
@model RazorPagesMovie.Pages.Index1Model
@{
}

<h2>Separate page model</h2>
<p>
    @{
        DateTime d = DateTime.Now;
        var slr = 66655.5;
        var str = "ibraheem";
        var gog = "https://www.google.com.sa/";
        int lol()
        {
            return 500;
            }



    }

    @DateTime.Now

    <h1>@str</h1>
    <h2>@slr</h2>

    <h2 >lolo @lol()</h2>
    <a href="@gog">Google</a>
    <br />

    @Model.Message
    @Model.xxx()

</p>
